

.img-half {
  /* Set up common styles for both halves */
  background-size: cover;
  background-position: center;
  transition: transform 0.5s ease-in-out;
}

.img-top {
  /* Specific styles for the top half */
  background-position: top;
  transform: translateX(-15%);
}

.img-bottom {
  /* Specific styles for the bottom half */
  background-position: bottom;
  transform: translateX(15%);
}

.split-image-container:hover .img-top {
  /* Transition the top half back to original position on hover */
  transform: translateX(0);
}

.split-image-container:hover .img-bottom {
  /* Transition the bottom half back to original position on hover */
  transform: translateX(0);
}
